body {
    background-color: #ccc;
    height: 100vh;
}

#root {
    margin: 0px auto;
    max-width: 500px;
}

.ciudades {
    margin: 80px, 60px, 20px;
    padding-left: 180px;
    padding-bottom: 20px;
    padding-top: 0px;
    position: relative;
    top: -50px;
}

a#salta {
    padding-left: 10px;
    padding-right: 10px;
}

a#tucuman {
    padding-left: 10px;
    padding-right: 10px;
}

a#buenosaires {
    padding-left: 10px;
    padding-right: 10px;
    
}

.buscador {
    position: relative;
    top: -48px;
}

#tarjeta {
    padding: 90px;
    padding-bottom: 435px;
    position: relative;
    top: -48px;
}