body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card, .form-agregar {
    font-size: 20px;
    width: 300px;
    max-width: 500px;
    padding: 30px;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid #cccccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.184);
    position: relative;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card2 {
    width: 100%;
    max-width: 300px;
    padding: 30px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.242);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.errores, .errores2, .errores4 {
    color: #ff1900;
    font-size: 16px;
    margin-top: 5px;
}

.Productos0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #808080;
    border: 1px solid #828282;
}

.edit-buttons button {
    background-color: #ffffff;
    color: black;
    border: 1px solid #ccc;
}

.edit-buttons button:hover {
    background-color: #dddddd;
}

.input-2 {
    display: block;
    margin-bottom: 5px;
}

.input-1 {
    margin-bottom: 5px;
    display: flex;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 70%;
    margin-bottom: 8px;
}

i {
    display: block;
}

p {
    color: black;
    margin: 0;
}

strong {
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.cantidad {
    font-size: 3rem;
    color: #0000ff;
    margin-right: 10px;
}

.codigo {
    font-size: 14px;
    margin-top: 5px;
    color: #585858;
}

.agregarProd {
    background-color: #ffffff;
    color: #1b1b1b;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
}

.agregarProd:hover {
    background-color: #dddede;
}

.fa-plus {
    cursor: pointer;
    font-size: 16px;
}

.fa-pencil-alt,
.fa-trash {
    z-index: 1;
    cursor: pointer;
    margin-left: 10px;
}