#root {
    margin: 0 auto;
    max-width: 500px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0px;
}

.error {
    display: inline-block;
    margin: 10px;
}