.App {
  display: flex;
  /* Utilizamos flexbox para centrar el contenido */
  justify-content: center;
  /* Centramos horizontalmente el contenido */
  align-items: center;
  /* Centramos verticalmente el contenido */
}

.titulo {
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;
  /* Ancho de la tarjeta */
  display: flex;
  /* Usamos flexbox para centrar el contenido verticalmente */
  justify-content: center;
  /* Centra el contenido horizontalmente */
  align-items: center;
  /* Centra el contenido verticalmente */
}

.card__content {
  padding: 10px;
  /* Espaciado interno */
  display: flex;
  /* Usamos flexbox para el diseño interno */
  flex-direction: column;
  /* Organiza el contenido verticalmente */
}

.card__id {
  font-weight: bold;
  margin-bottom: 5px;
  /* Espacio entre elementos */
}

.card__name {
  font-weight: bold;
  margin-bottom: 5px;
  /* Espacio entre elementos */
}

.card__tel {
  color: #555;
}