body {
    background-color: #e2d9d9;
    font-family: 'Arial', sans-serif;
}

.custom-card {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.custom-card-body {
    padding: 20px;
}

h5 {
    margin-bottom: 20px;
}

.custom-btn-primary {
    background-color: #007bff;
    border: none;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.custom-btn-secondary {
    background-color: #6c757d;
    border: none;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.custom-btn-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.custom-btn-link:hover {
    text-decoration: underline;
}

