body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.login-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 15px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #f40612;
}

.logout-btn {
    background-color: #dc3545;
    display: block;
    margin: 20px auto 0 auto;
}

.logout-btn:hover {
    background-color: #c82333;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
