body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#product-list {
    margin-bottom: 20px;
}

form input {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 18px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin: 5px;
    padding: 8px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}