html {
    overflow-y: scroll;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    padding: 16px;
    width: 300px;
}

#busqueda {
    margin-bottom: 10px; 
    width: 275px; 
    border: 1px solid;
    border-radius: 50px;
    padding: 5px 12px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
}

.etiqueta {
    font-weight: lighter;
    color: gray;
    width: 100px;
    display: block;
}
