section.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions-wrapp button {
    margin-right: 10px;
}

.nav-items a, .nav-brand{
    color: #B2E51A;
    text-decoration: none;
    cursor: pointer;
}

.btn-form {
    background-color: #b2e51ad2;
    color: #13171f;
    font-weight: 700;
}

.form-register, .form-login{
    max-width: 500px;
}


.error-message{
    color: red;
}