html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f0f2f5;
    box-sizing: border-box;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

#root {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #212020;

}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #212020;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
    color: #2a2929;
}

input[type='text'],
input[type='password'] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;    
}

button {
    padding: 10px 20px;
    min-width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #357edd;
    color: white;
    font-size: 1em;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2861a7;
}

form {
    width: 100%;
    text-align: center;
}

form button[type='submit'] {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.message {
    font-weight: bold;
    text-align: center;
    color: #e74c3c;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

@media (max-width: 420px) {
    #root {
        width: 90%;
        padding: 15px;
    }

    input[type='text'],
    input[type='password'] {
        width: calc(100% - 16px);
    }

    button {
        width: 100%;
        margin: 10px 5px;
    }
}
