body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 16px;
    margin-bottom: 10px;
}

.etiqueta {
    font-weight: lighter;
    color: gray;
    width: 100px;
    /* display: block; */
}
