table {
    width: 400px;
    margin: 0 auto;
}

td {
    vertical-align: top;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

#listado li {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
}

#carrito {
    float: right;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#carrito {
    /* position: fixed; */
    top: 0;
    right: 0;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
}

#carrito li button {
    text-align: right;
}

main {
    /* width: 400px; */
    margin: 0 auto;
}

#listado li  {
    width: 400px;
}
#carrito ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}